#header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 150px;  
   padding-right: 100px;
   padding-left: 100px;
   background-color: var(--cor-fundo);
}

#imagem{
    width: 214px;
    height: 79px;
}


#navegacao a{
    font-size: 24px;
    text-decoration: none;
    color: white;
}

#navegacao button{
    width: 130px;
    height: 50px;
    border-radius: 6px;
    font-size: 24px;
    margin-left: 70px;
    background-color: transparent;
    border-color: #FF004C;
    color: white;
}
